<div class="background">
  <h1>Maxime Ayllon</h1>
  <h3>master degree Audit</h3>
  <%= image_tag "photo_moi.jpg" %>
</div>
<%= render "parts/about_me" %>
<%= render "parts/experiences" %>
<%= render "parts/educations" %>
<%= render "parts/skills" %>
<%= render "parts/hobbies" %>
<%= render "parts/footer" %>
